@charset "utf-8";

 p {
    width: 200px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
a.cp_btn {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #FF5722;
        width: 120px;
        height: 120px;
        line-height: 120px;
        border: double 4px #FF5722;
        border-radius: 50%;
        vertical-align: middle;
        overflow: hidden;
        transition: .6s;
}
a.cp_btn:hover {
        transform: rotateY(360deg);
        border: double 4px #000080;
}

